.home-page {
  position: relative; }
  .home-page .btn-new-book {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    border-radius: 50%;
    z-index: 1;
    width: 4em;
    height: 4em; }
